@using UserPage.Utilities;
@using Microsoft.AspNetCore.Http;
@model UserPage.Models.UserViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="card-body border">
    <div class="row">
        <div class="col-4">
            <img src="@Model.Portrait" class="img-fluid img-thumbnail" alt="character-image">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(x => Model.ID)
                </div>
                <div class="col-10">
                    @Html.Label(Model.ID.ToString())
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(x => Model.Name)
                </div>
                <div class="col-10">
                    @Html.Label(Model.Name)
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(x => Model.Server)
                </div>
                <div class="col-10">
                    @Html.Label(Model.Server)
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-12 ml-2">
            @Html.ActionLink("Return to Search", "List", "UserProfile", new
            {
                Name = Context.Session.GetString(SessionFields.LastUserSearch).Split(',')[0],
                Server = Context.Session.GetString(SessionFields.LastUserSearch).Split(',')[1]
            }, null)
        </div>
    </div>
</div>
